html,
body {
  margin: 0;
  padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
}
h1, h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #ea4b35;
}

h3 {
  font-family: 'Caveat';
  

}

#selection {
  font-family: 'Caveat';
  text-align: center;
  color: #ea4b35;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  
}
#banner {
  text-align: center;
}



header > h3 {
    font-family: 'Caveat';
    color: #ea4b35;
    text-align: left;
    margin-left: 50px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 50px;
    
}





/* .nav_right > button {
    display: inline-block;
    float: right;
    width: 50px;
    height: 20px;
    text-align: center;
    margin-top: 20px;
    margin-right: 70px;
    position:relative;
    color: white;
    background-color: black;
    font-size: 10px;
    border: none;
    border-radius: 7px;
  
        
} */

/* .nav_right {
    float: right;
    display: flex;
    align-items: center;
    
} */

.carousel-conatainer {
  width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative;
  
}
.carousel-slide {
  display: flex;
  width: 100%; 
  max-height: 400px;
  height: auto;
  object-fit: cover;
}

.carousel-slide img {
  width: 100%; 
  height: auto;
  object-fit: cover;
  background-repeat: no-repeat;
}





#prevBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.8;
  cursor: pointer;
}

#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.8;
  cursor: pointer;
}

.contact-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.bean {
    font-size: 30px;
    font-weight: 1000;
    
}

/* .coffee_shop {
    font-size: 15px
    
}


.input_button {
    display: flex;
    margin: 2px;
    
}

::placeholder {
    font-size: 10px;
    color: #917D6E;;
    text-align: center;
    font-family: 'Lato', sans-serif;
    

}

#input {
  height: 30px;
  width: 200px;
  border: none;
  background-color: #F6F2EF;
  border-radius: 10px;
  margin-right: 10px; 
  box-shadow: 5px 3px 3px rgb(43, 38, 38);
} */

/* #button_pink {
border-radius: 20px;
border: none;
background-color: rgb(173, 23, 48);
box-shadow: 5px 3px 3px rgb(15, 14, 14);
width: 50px;
}

#button_pink:hover {
  background-color: #0e0c0c;
} */

/* #arrow {
  width: 30px;
  height: 30px;
  background-color: #FF5678;
  border: none;
  border-radius: 20px;

} */






/* .banner_right{
 
    padding: 20px;
    text-align: center;
} */

/* #coffee_guy {
  width: 300px;
  height: 300px;
} */



.section_about {
  
  border-bottom: solid;
  /* margin-left: 50px;
  margin-right: 50px; */
  font-family: 'Open Sans', sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  
}



.special_offers_cont {
    
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;

}
h2 > span {
    margin-left: 50px;
}


 

.special_offers_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #F6F2EF;
    margin-right: 7px;
    border-radius: 10px;
    margin: 20px;


}

.special_offers_img img {
  box-shadow: 5px 3px 3px rgb(43, 38, 38);
  border-radius: 5px;
  width: 100%;
}

.special_offers_img img:hover {
  opacity: 0.7;
  zoom: 1;
  
}





.section_about a {
  color:#FF5678;

}

.blank_space {
  height: 250px;
}



.div_footer {
    display: flex;
    flex-direction: column;
    background-color: #1D1C1C;
    
    
    
    
}

.div_footer > p {
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#logo {
    height: 40px;
    width: 100px;
    
    object-position: center;
}

/* Selection Page */

@media only screen and (max-width: 640px){
 
.selection_offers_cont {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  align-items: center;
}
.selection_img1 .selection_img2 .selection_img3 {
  text-align: center;
}

.hero {
  background-position: center center;
  background-size: cover;
}

}

/* About Page  */

/* Global styles */
/* html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
} */

/* body {
  background-color: #F6F2EF;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
} */

/* h1, h2, h3 {
  color: #FF5678;
} */

a {
  color: #FF5678;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #F6F2EF;
}



.nav_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  
}

.nav_right p {
  margin-right: 20px;
  font-size: 18px;
}
.nav_right p:hover {
  text-decoration: overline;
  
}


/* About section styles */
.section_about {
  padding: 40px;
}

.section_about p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.section_about a {
  font-weight: bold;
}



/* Footer styles */
footer {
  
  bottom: 0px;
  left: 0px;
  background-color: #1D1C1C;
  color: #FFF;
  padding: 5px;
  text-align: center;
  width: 100%;
  height: auto;
}

.footer_logo {
  width: 100px;
  height: auto;
}

.footer_contact {
  margin-top: 20px;
}

.footer_contact p {
  font-size: 16px;
}


.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contact-form {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
}

.contact-form h2 {
  margin-bottom: 20px;
  color: #FF5678;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #FF5678;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.map-container {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
}

.map-container h2 {
  margin-bottom: 20px;
  color: #FF5678;
}

.map-container #map {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}


/* coffe drinks html */
.coffe_selection {
  display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
margin-top: 40px;
margin-bottom: 40px;

}

.coffee_pics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.coffee_pics img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.main_coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back_home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

/* breakfast page */
.breakfast_selection {
  display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
margin-top: 40px;
margin-bottom: 40px;

}

.breakfast_pics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.breakfast_pics img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.main_breakfast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*cakes page */
.cakes_selection {
  display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
margin-top: 40px;
margin-bottom: 40px;

}

.cakes_pics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.cakes_pics img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.main_cakes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Media queries */
@media (max-width: 640px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header h3 {
    font-size: 24px;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: auto;
  }
  
  .nav_right p {
    font-size: 16px;
  }
  
  .nav_right button {
    padding: 8px 16px;
    font-size: 14px;
  }
  
  .section_about p {
    padding: 20px;
    font-size: medium;
  }

  .section_about {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .special_offers_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .special_offers_img {
    width: 70%;
  }
  
  .special_offers_img img {
    
    width: 200px;
    height: auto;
  }
  
  .special_offers_img p {
    font-size: 16px;
  }
  .container .footer_content{
    padding: 20px
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
  }

  footer p{
    font-size: small;
  }

  .footer_logo {
    width: 50px;
  }

  .footer_contact p{
    font-size: small;
  }
  .footer_contact {
    margin-top: 0;
  }



  .contact-form input {
    width: auto;
  }
  .contact-form textarea {
    width: auto;
  }
  .map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .coffe_selection {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  
  }

  .coffee_pics img {
    width: 120px;
    height: 120px;
    
  }
  .breakfast_selection {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  
  }

  .breakfast_pics img {
    width: 120px;
    height: 120px;
    
  }

  .cakes_selection {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  
  }

  .cakes_pics img {
    width: 120px;
    height: 120px;
    
  }

  #selection {
    font-size: large;
  }

  .back_home a{
    font-size: small;
  }
}


/* CONTACT PAGE CSS  */


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #F6F2EF;
  color: #333;
}



main {
  padding: 40px;
} */
